<div class="absolute bg-black opacity-75 flex justify-center items-center h-screen w-screen m-0 left-0 top-0 z-20"
  *ngIf="isLoading"
>
  <div class="animate-spin inline-block w-12 h-12 border-[3px] border-current border-t-transparent text-sky-600
    rounded-full dark:text-sky-500"
    role="status"
    aria-label="loading"
  ><span class="sr-only">Loading...</span>
  </div>
</div>

<div class="container mx-auto lg:px-64 sm:px-4 py-4">
  <h2 class="text-3xl text-slate-800 mb-8 mx-4 px-4">Users</h2>

  <section class="m-4">
    <mat-expansion-panel class="mb-4" *ngFor="let user of users" hideToggle>
      <mat-expansion-panel-header class="bg-slate-50">
        <mat-panel-title class="justify-between">
          <span class="font-bold pl-4 w-1/3">{{ user.firstName }} {{ user.lastName }}</span>
          <span class="w-1/3">{{ user.email }}</span>
          <span class="flex justify-end w-1/3">
            <!-- Link to edit user profile information -->
            <button class="bg-sky-400 font-semibold text-sky-50 px-4 py-2 rounded hover:bg-sky-600">
              <a routerLink="/user/{{user.id}}">Edit user profile</a>
            </button>

            <!-- Delete button -->
            <button
              class="flex justify-center items-center ml-4 px-4 py-2
              bg-red-400 rounded text-white hover:bg-red-600"
              role="button"
              (click)="deleteUser(user.id)"
            >
              <fa-icon
                [icon]="faTimes"
              ></fa-icon>
            </button>
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p class="pr-4">
        <span class="font-semibold">Nickname: </span>{{ user.nickname }}
      </p>
      <p>
        <span class="font-semibold">Current activity: </span>{{ user.currentActivity }}
      </p>
    </mat-expansion-panel>
  </section>
</div>
