<div class="absolute bg-black opacity-75 flex justify-center items-center h-screen w-screen m-0 left-0 top-0 z-20"
  *ngIf="isLoading"
>
  <div class="animate-spin inline-block w-12 h-12 border-[3px] border-current border-t-transparent text-sky-600
    rounded-full dark:text-sky-500"
    role="status"
    aria-label="loading"
  ><span class="sr-only">Loading...</span>
  </div>
</div>

<app-alerts
  *ngIf="shouldShowAlert"
  [alert]="alertType"
  [message]="alertMessage"
></app-alerts>

<div class="container mx-auto lg:px-64 sm:px-4 flex flex-col items-start justify-center pb-5">
  <!-- Edit profile form -->
  <h2 class="text-2xl pb-2 ml-4 mt-4 px-4">Who are you?</h2>
  <form
    class="flex flex-col mx-4 pr-8 w-full"
    [formGroup]="editProfileForm"
    (ngSubmit)="updateProfileData()"
  >
    <!-- Profile data -->
    <div class="mb-4" formGroupName="profile">
      <div class="flex flex-col mb-4">
        <label class="mb-1">First name:</label>
        <input
          class="form-input rounded"
          type="text"
          formControlName="firstName"
          id="firstName"
          name="firstName"
        />
      </div>

      <div class="flex flex-col mb-4">
        <label class="mb-1">Last name:</label>
        <input
          class="form-input rounded"
          type="text"
          formControlName="lastName"
          id="lastName"
          name="lastName"
        />
      </div>

      <div class="flex flex-col mb-4">
        <label class="mb-1">Nickname:</label>
        <input
          class="form-input rounded"
          type="text"
          formControlName="nickname"
          id="nickname"
          name="nickname"
        />
      </div>

      <div class="flex flex-col mb-4">
        <label class="mb-1">Email:</label>
        <input
          class="form-input rounded"
          type="text"
          formControlName="email"
          id="email"
          name="email"
        />
      </div>
    </div>

    <!-- Current activity -->
    <h2 class="text-2xl mb-4 mt-2">
      Choose your current activity <span class="italic text-sm font-normal text-slate-400">
        (You can only select one at a time)
      </span>
    </h2>

    <div class="divide-y-4 divide-solid divide-neutral-100 pt-2">
      <div class="flex flex-col">
        <div class="flex justify-between mb-4">
          <div class="flex flex-col mb-4 mr-4 w-1/2">
            <label class="mb-1">Hobby:</label>
            <select
              class="form-input rounded disabled:bg-neutral-100 disabled:border-neutral-100
                disabled:text-neutral-300 disabled:cursor-not-allowed"
              formControlName="hobbies"
              id="hobbies"
              name="hobbies"
            >
              <option value="" disabled>Select</option>
              <option *ngFor="let hobby of hobbies" [value]="hobby.value">
                {{ hobby.label }}
              </option>
            </select>
          </div>

          <div class="flex flex-col mb-4 w-1/2">
            <label class="mb-1">Work duty:</label>
            <select
              class="form-input rounded disabled:bg-neutral-100 disabled:border-neutral-100
                disabled:text-neutral-300 disabled:cursor-not-allowed"
              formControlName="workDuties"
              id="workDuties"
              name="workDuties"
            >
              <option value="" disabled>Select</option>
              <option
                *ngFor="let workDuty of workDuties"
                [value]="workDuty.value"
              >
                {{ workDuty.label }}
              </option>
            </select>
          </div>
        </div>

        <p
          class="bg-gradient-to-r from-yellow-300 from-10% to-yellow-400 to-90% rounded font-bold text-center text-lg
            text-stone-600 mb-4 p-4"
          *ngIf="tooMuchCodingWarning"
        >
          Careful! Don't code too much and burn out.
        </p>
      </div>

      <!-- Save updated form data -->
      <div class="flex justify-end mb-4 pt-4">
        <button
          class="bg-white border-neutral-400 border-2 text-neutral-400 mr-4 rounded mt-4 h-12 w-1/2
            disabled:border-neutral-200 disabled:text-neutral-200 disabled:cursor-not-allowed"
          type="button"
          id="resetFormButton"
          name="resetFormButton"
          (click)="resetForm()"
          [disabled]="!this.hasUpdatedProfileData"
        >
          Reset form
        </button>

        <button
          class="bg-blue-500 text-white rounded mt-4 h-12 w-1/2 disabled:bg-blue-300 disabled:text-blue-200
            disabled:cursor-not-allowed hover:bg-blue-700"
          type="submit"
          id="saveProfileButton"
          name="saveProfileButton"
          [disabled]="!this.hasUpdatedProfileData"
        >
          Save profile
        </button>
      </div>
    </div>
  </form>
</div>
