@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Override default Angular Material styles */
.mat-expansion-panel { margin-bottom: 12px !important; }
.mat-expansion-panel-header { padding: 0 !important; }
.mat-expansion-panel-header-title { margin-right: 0 !important; }

.mat-typography h1 { margin: 0; padding: 0; }
