<div class="absolute bg-black opacity-75 flex justify-center items-center h-screen w-screen m-0 left-0 top-0 z-20"
  *ngIf="isLoading"
>
  <div class="animate-spin inline-block w-12 h-12 border-[3px] border-current border-t-transparent text-sky-600
    rounded-full dark:text-sky-500"
    role="status"
    aria-label="loading"
  ><span class="sr-only">Loading...</span>
  </div>
</div>

<app-alerts
  *ngIf="shouldShowAlert"
  [alert]="alertType"
  [message]="alertMessage"
></app-alerts>

<div class="container mx-auto lg:px-64 sm:px-4 flex flex-col items-start justify-center pb-5">
  <h2 class="text-2xl pb-2 ml-4 mt-4 px-4">Add a new user</h2>

  <!-- Add user form -->
  <form
    class="flex flex-col mx-4 pr-8 w-full"
    [formGroup]="addUserForm"
    (ngSubmit)="addNewUser()"
  >
    <!-- Profile data -->
    <div class="mb-4" formGroupName="profile">
      <div class="flex flex-col mb-4">
        <label class="mb-1">First name:</label>
        <input
          [class.border-red-500]="firstName?.invalid
            && (firstName?.dirty || firstName?.touched)
            && firstName?.errors?.['required']
          "
          class="form-input rounded"
          type="text"
          formControlName="firstName"
          id="firstName"
          name="firstName"
        />

        <!-- Error handling -->
        <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
          <p *ngIf="firstName?.errors?.['required']"
            class="text-red-500 m-0 py-2"
          >First name is required
          </p>
        </div>
      </div>

      <div class="flex flex-col mb-4">
        <label class="mb-1">Last name:</label>
        <input
          [class.border-red-500]="lastName?.invalid
            && (lastName?.dirty || lastName?.touched)
            && lastName?.errors?.['required']
          "
          class="form-input rounded"
          type="text"
          formControlName="lastName"
          id="lastName"
          name="lastName"
        />

        <!-- Error handling -->
        <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)">
          <p *ngIf="lastName?.errors?.['required']"
            class="text-red-500 m-0 py-2"
          >Last name is required
          </p>
        </div>
      </div>

      <div class="flex flex-col mb-4">
        <label class="mb-1">Nickname:</label>
        <input
          class="form-input rounded"
          type="text"
          formControlName="nickname"
          id="nickname"
          name="nickname"
        />
      </div>

      <div class="flex flex-col mb-4">
        <label class="mb-1">Email:</label>
        <input
          [class.border-red-500]="email?.invalid
            && (email?.dirty || email?.touched)
            && email?.errors?.['required'] || email?.errors?.['email']
          "
          class="form-input rounded"
          type="text"
          formControlName="email"
          id="email"
          name="email"
        />

        <!-- Error handling -->
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
          <p *ngIf="email?.errors?.['required']"
            class="text-red-500 m-0 py-2"
          >Email is required
          </p>
          <p *ngIf="email?.errors?.['email']"
            class="text-red-500 m-0 py-2"
          >Email must be in "example@example.com" format
          </p>
        </div>
      </div>
    </div>

    <!-- Current activity -->
    <h2 class="text-2xl mb-4 mt-2">
      Choose a current activity <span class="font-normal text-sm italic text-slate-400">
        (You can only select one at a time)
      </span>
    </h2>

    <div class="divide-y-4 divide-solid divide-neutral-100 pt-2">
      <div class="flex flex-col">
        <div class="flex justify-between mb-4">
          <div class="flex flex-col mb-4 mr-4 w-1/2">
            <label class="mb-1">Hobby:</label>
            <select
              class="form-input rounded disabled:bg-neutral-100 disabled:border-neutral-100
                disabled:text-neutral-300 disabled:cursor-not-allowed"
              formControlName="hobbies"
              id="hobbies"
              name="hobbies"
            >
              <option value="" disabled>Select</option>
              <option *ngFor="let hobby of hobbies" [value]="hobby.value">
                {{ hobby.label }}
              </option>
            </select>
          </div>

          <div class="flex flex-col mb-4 w-1/2">
            <label class="mb-1">Work duty:</label>
            <select
              class="form-input rounded disabled:bg-neutral-100 disabled:border-neutral-100
                disabled:text-neutral-300 disabled:cursor-not-allowed"
              formControlName="workDuties"
              id="workDuties"
              name="workDuties"
            >
              <option value="" disabled>Select</option>
              <option
                *ngFor="let workDuty of workDuties"
                [value]="workDuty.value"
              >
                {{ workDuty.label }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <!-- Save updated form data -->
      <div class="flex justify-end mb-4 pt-4">
        <button
          class="bg-white border-neutral-400 border-2 text-neutral-400 mr-4 rounded mt-4 h-12 w-1/2
            disabled:border-neutral-200 disabled:text-neutral-200 disabled:cursor-not-allowed"
          type="button"
          id="resetFormButton"
          name="resetFormButton"
          (click)="resetForm()"
          [disabled]="!this.hasNewUserData"
        >
          Reset form
        </button>

        <button
          class="bg-blue-500 text-white rounded mt-4 h-12 w-1/2 disabled:bg-blue-300 disabled:text-blue-200
            disabled:cursor-not-allowed hover:bg-blue-700"
          type="submit"
          id="saveProfileButton"
          name="saveProfileButton"
          [disabled]="!this.hasNewUserData"
        >
          Add profile
        </button>
      </div>
    </div>
  </form>
</div>
